<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Destroy', @user, confirm: 'do you want to delete ' + @user.name + '?', method: :delete  %> |
<%= link_to 'Back', users_path %>
